$scale-from: 0.6;
@keyframes enter {
  from {
    opacity: $scale-from;
    transform: scale($scale-from);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.cell {
  text-shadow: 2px 2px 5px #149ec8;
  width: 10rem;
  height: 10rem;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 4px 4px 2px 1px rgba(70, 70, 88, 0.2);
  transition: all 0.3s linear;
  background-color: #082d4c;
  color: white;
  &:hover {
    background-color: #68c5db;
  }
  &.appear {
    animation: enter 0.5s cubic-bezier(0.2, 0.4, 0, 1);
  }
  &.highlight {
    background-color: #492a65;
  }
}
