.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0b252c;
}

.reset-btn {
  transition: all 0.25s cubic-bezier(0.2, 0.4, 0, 1);
  margin: 1rem;
  width: 160px;
  height: 55px;
  border-radius: 4px;
  background: #3bc1fb;
  font-size: 2.2rem;
  border: 2px solid black;
  &:hover {
    box-shadow: 2px 2px 6px 1px rgba(127, 127, 127, 0.55);
  }
  &:active {
    box-shadow: 1px 1px 6px 1px rgba(255, 255, 255, 0.85);
    font-size: 1.6rem;
  }
}

.github {
  margin: 2rem;
  font-size: 1.4rem;
  color: #bb85ed;
}
